@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

main {
	font-family: Inter, sans-serif;
	background-image: url('/bg-top-right-blob.svg'), url('/bg-bottom-right-blob.svg');
	background-repeat: no-repeat, no-repeat;
	background-position: top right, bottom left;
	background-size: 20%, 20%;
	color: #293264;
}

select {
	background-color: aliceblue;
	padding: 10px 10px;
	border-radius: 5px;
}

input[type="radio"] {
	display: none;
}